*{
    margin:0 0;
    padding:0 0;
}
html{
    font-size: 16px;
}
:root{
    --main_color:white;
    --white_color:white;
    --black_color:black;
    --font_color:green;
    --bar_mobile_color:#191919;
    --font_base:'Montserrat', sans-serif;
    --font_logo_color:white;
    --bar_color:#3BA769;

}
/*reset*/

body{
    margin: 0;
  }
  div {
      padding: 0px 0px;
  }
  a:hover{
      color:red;
  }
body{
    
    background-color: var(--main_color);
    /* cấm con trỏ văn bản */
    -moz-user-select: none !important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
}
*{
    box-sizing: border-box;
}
 
:root{
    --text_color_small:#BDAABD;
}
@keyframes animation_show{
    from{height:100%;}
    to{height: 150%;}
}
@keyframes robot_icon{
    from{color:var(--bar_color)}
    to{color:red;}
}

/* Robot */
#robot{
    width:fit-content;
    height:fit-content;
    position: fixed;
    z-index: 9;
    right:10px;
    color:var(--bar_color);
    font-size: 40px;
   

}
#icon_robot{
    float:right;
    cursor: pointer;
    display: block;
    animation-name: robot_icon;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  
}
#icon_robot::after{
    content: "";
    width: 0px;
    height:0px;
    border-top:solid 10px transparent;
    border-left:solid 10px transparent;
    border-right:solid 10px transparent;
    border-bottom: solid 10px ;
    position:absolute;
    right:15px;
    top:31px;
}
#robot_check:checked ~ div{
    display:flex;
}
.robot_container{
    position: absolute;   
    border: solid 2px var(--bar_color);
    box-shadow: 4px 4px 100px var(--bar_color);
    border-radius: 7px;
    background-color: var(--white_color);
    text-align: center;
    overflow: hidden;
    padding: 8px 8px;
    word-wrap: break-word;
    flex-direction: column;
    justify-content: center;
}
#content_robot{
    height:fit-content;
    font-weight: 600;
    color:red;
}

#container{
  /*   margin-top: 20px; */
}
.slide{
    
    height: 360px;
    color:var(--white_color);
    padding: 0 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
#slides .row{
    flex-wrap:nowrap!important;
}

.slide_container{
    height:100%;
    width:100%;
    flex:1 0 auto;
    transition: ease-in transform 0.5s;
    z-index: 1;
    cursor: pointer;
}
#slides button{
    width: 50px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.178);
    color:white;
    border-style: none;
    position: absolute;

}
#slides button:hover{
   opacity: 0.8;
}
#slides button{
    display: none;
    background-color: var(--bar_color);
    cursor: pointer;
 
}
#slides:hover button{
    display:block;
}

#previous_btn{
 /*    top:255px; */
    z-index: 8;
}
#next_btn{
    right:0;
   /*  top:255px; */
    z-index: 8;
}
.slide img{
    z-index: -1;
    max-width: 100%;
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide_detail{
    width:100%;
    height:115px; 
    position: relative;
    bottom:115px;
    padding: 15px 0px 0px 15px;
    background-color: rgba(0, 0, 0, 0.349);

}
.slide a{
    display: block;
    color:var(--main_color);
 /*    font-family: var(--font_base)!important; */
}
/* .slide a:hover{
    color:red;
} */
.post_title{
    padding: 0 8px  0 8px;
    background-color: var(--bar_color);
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
    height:20px;
    width:fit-content;
    font-size:small;
    color:var(--white_color);
    font-family: 'Times New Roman', Times, serif!important;

}
.slide_name{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 0;
    font-family: 'Raleway', sans-serif!important;
    /*dấu 3 chấm*/
    display: -webkit-box!important;
    -webkit-line-clamp: 1;  /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height:34px;

}
.post_time{
    font-weight: 400;
    line-height: 18px;
    font-family:var(--font_base)!important;
    font-size: 12px;
    color:var(--text_color_small)!important;
}
.container_main{
    height: max-content;
}

.posts{
    background-color: var(--white_color);
    height:max-content;
    margin-bottom: 5px;

}
.property_personal{
    background-color: var(--main_color);
    padding-bottom: 35px;
    height:fit-content;
 
    
}

.post_container{
    margin-top: 40px;
    height:200px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    /* border-right-style: inset; */
    box-shadow: 0px 0px 3px black;
    font-family: var(--font_base)!important;
    margin-right: 5px;
}
.post_container:hover{
    transform: translateY(2px);
}
.post_container:hover .img_post{
    animation-name: animation_show;
    animation-duration: 1s;
} 

.img_container{
    width:300px;
    height:100%;
    background-color: white;
    overflow: hidden;
}

.img_post{
    height:100%;
    width: 100%;
    object-fit: cover;
}
.details_post{
    padding: 10px 5px 0px 22px;
    height: 200px;
    flex: 1; 
    width:100%;
    background-color: white;
    overflow: hidden;
}
.post_name{
font-size: 18px;
margin:14px 0px;
color:black;
font-weight: 500;
display: block;
width: 100%;
/*dấu 3 chấm*/
display: -webkit-box;
-webkit-line-clamp: 2;  /* số dòng hiển thị */
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.post_meta{
    width: 100%;
    line-height: 22px;
    font-size: 12px;
    color:var(--text_color_small);
    height: fit-content;


}
.post_meta a{
    color:var(--text_color_small);
}
.post_meta img{
width: 22px;
height:22px;
display: inline-block;
margin-bottom: -7px;
border-style: none;
border-radius: 50%;
}
.margin_right_2px{
    margin-right: 2px;
}
.post_extra{
    color:var(--text_color_small);
    margin-top: 6px;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    height:70px; 
    /*dấu 3 chấm*/
    display: -webkit-box;
    -webkit-line-clamp: 3;  /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.about_me_container{
    background-color:var(--main_color);
    width: 100%;
    height:fit-content;
    margin-top: 30px;


}
.title-bar{
background-color:white;
width: 95%;
margin: auto;
height:35px;
font-weight: 600;
border:solid 0.1px rgb(206, 185, 185) ;
text-align: center;
line-height: 35px;
display: block;
color: var(--bar_color);
font-family: var(--font_base);
}
#avar_img{
    display: block;
    position: relative;
    margin:20px auto;
    object-fit: cover;
    
 width:180px;
height:180px;
border-radius: 50%;

}
#about_me-name{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}
#about_me-name span{
    font-size: 14px;
    color:rgba(110, 109, 93, 0.74);
}
#about_me-details{
    background-color: var(--white_color);
    width:90%;
    line-height: 25px;
    height: fit-content;
    margin: auto;
    font-size: 16px;
    font-weight: 600;
    list-style: none;

}
.detail_property{
    display:flex;
    flex-direction: row;
    background-color: var(--main_color);
    width: 100%;
    height: 40px;
    /* border: solid 0.2px black; */
 /*    text-align: center; */
}
.detail_property-name{
    display: block;
    /* position: relative; */
    margin: auto 0;
    background-color: chartreuse;
    color:black;
    /* border: solid 0.5px black; */
    width: 80px;
    text-align: center;
    box-shadow: -1px -1px 3px black;
    max-height: 25px;
    overflow: hidden;
}
.detail_property-answer{
    display:inline-block;
    flex: 1;
    margin: auto;
    height: 25px;
    background-color: var(--bar_color);
    line-height: 25px;
    border:solid 0.1px rgb(182, 1, 31);
    overflow: hidden;
   color:rgb(239, 243, 18);
 
    margin-left: 4px;
    padding-left: 4px;
}
#popular_posts{
    width: 100%;
    background-color: var(--main_color);
    height: 300px;
    margin: 30px 0px;
}

.popular_posts-container{
    width: 100%;
 

}
.popular_post{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 20px;

}
.popular_post img{
    width: 80px;
    height: 60px;
    object-fit: cover;
}
.popular_post-detail{
    flex:1;
    background-color: var(--main_color);
 padding: 2px 2px 0px 6px;
}
.popular_post-name{
    font-size: 13px;
    font-weight: 600;

}
#facebook_blog{
    width: 100%;
}
#fb_img{
    width: 95%;
    margin: auto;
    margin-top: 20px;
    height: fit-content;

}
#facebook_blog img{
    width:100%;
    height:120px;
    object-fit: cover;
}
.type_posts{
width:100%;
margin: 25px 0px;
background-color: var(--main_color);
}
#type_post-container{
    margin-top: 25px;
list-style:none;
}
.type_post{
    height: 35px;
    width:95%;
    background-color: var(--main_color);
    border-style: hidden;
    border-bottom: dotted 0.1px black;
    text-decoration-line: underline;
    padding: 9px 0px;
    margin:auto;
    font-family: var(--font_base);
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;

   

}
.label_count{
    display:inline-block;
    float:right;
}
.type_post::before{
    content: "\f105";
    float: left;
    color: #111111;
    font-family:var(--font_base);
    margin: 1px 2px 0 0;
    transition: color .17s;
    padding-right: 3px;
}
.tags_container{
    list-style: none;
    width: 95%;
    margin: auto;
    margin-top: 15px;
    
}
.tags_container li{
    display: inline-block;
    margin-top: 6px;
    background-color: rgb(58, 10, 10);
    color:var(--white_color)!important;
}
.tags_container li:hover{
    background-color:#E6C45D ;
}
#foot_web{
    width: 100%;
    height:50px;
    text-align: center;
    margin-top: 25px;
    background-color: var(--main_color);
}
#wellcome{
    width: 100%;
    text-align: center;
    height:60px;
    background-color: white;
    z-index: 1;
    line-height: 50px;
    font-size: x-large;
    padding-top: 10px;
    box-sizing: border-box;
}
#wellcome input{
    outline: none;
    border: solid 0.1px #E7E7E7;
    border-bottom: none;
    border-top: none;
    padding-left: 15px;
    width: 60%;
    height: 100%;
    margin-bottom: 0px;
    transform: translateY(-10px);
}
#search_bar{
    width: 100%;
    height:40px;
    border-left: none;
    border-right: none;
    border: solid 0.1px #E7E7E7;
}
#icon_search{
    font-size: 20px;
    display: inline-block;
    width:40px;
    height:40px;
    border: solid 0.1px #E7E7E7;
    text-align: center;
    border-top: none;
    border-bottom: none;
    border-left: none;
    line-height: 40px;
    position:absolute;
    color:var(--bar_color);
}
#icon_search:hover{
    color: #645c5c;
}