
@keyframes robotAnimationDeskop{
    from{ font-size: 20px;
    }
    to {
        font-size: 30px;
    }
}
@keyframes robotAnimationMobile{
    from{ font-size: 14px;
    }
    to {
        font-size: 18px;
    }
}
@media (max-width:739px){

    #header_navbar{
        position: fixed;
        width: 100%;
        z-index: 10;
    }
    #container{
        padding-top: 73px;
    }
    .post_container{
        width: 95%;
        max-width: 95%;
        margin:auto; 
        margin-top: 30px;
        display: block;
        height: fit-content;
    }
    .img_container{
        width: 100%;
        height: 200px;
        display: block;
        object-fit: cover;

    }
    .post_name{
        margin: 6px 0px;
    }
    .details_post{
        height:200px;
        display: block;
    }

}

@media (max-width:1023px){
#slides button{
 top:225px;
}  
#robot{
    bottom:5px!important;
}
.robot_container{
    right: 6px;
    bottom: 45px ;
    width:700%;
    height:200px;
    max-width:300px;
    font-size: 8px;
}
#content_robot{
    animation-name: robotAnimationMobile;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
}
@media (min-width:1024px){
#slides button{
    top:330px;
}
.robot_container{
    width:800%;
    height:500%;
    right: 4px;
    font-size: 25px;
    top:50px;

}
#content_robot{
    animation-name: robotAnimationDeskop;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
}
